.img-homepage{
    height:89vh;
}

.homepage-text{
    position: absolute;
    top: 180px;
}

.footer-points{
    list-style: none;
    
}

.fa-trash:hover{
    color: red;
}

.fa-square-minus:hover, .fa-square-plus:hover{
    color: gold;
}